body {
    /* Empurra todo elemento adicionado 165px para baixo (20 + 125 + 20 do header e padding) */
    padding-top: 165px; 
    background-color: #121416;
}

.header {
    /* Determina a posição fixa em relação ao navegador */
    position: fixed;
    /* Determina que ficará sempre no topo, desconsiderando o paddind top do body */
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: black;
}

h1 {
    float: left;
    color: white;
    /* border: solid 1px white; */
    height: 125px;
    line-height: 125px;
    padding-left: 20px;

}

.header-logo {
    float: left;
    height: 125px;
    /* border: solid 1px white; */
}

.header-photo {
    float: right;
    height: 125px;
    border-radius: 15%;
    margin-right: 30px;
    /* border: solid 1px white; */
}

.article-right {
    float: right;
    min-height: 100vh;
    width: 44%;
    padding: 3%;
    text-align: center;
    color: white;
    
}

.article-left {
    float: left;
    min-height: 100vh;
    width: 44%;
    padding: 3%;
    text-align: center;
    color: white;
    
    
}

.article-list a {
    text-decoration: none;
    color: white;
}

.article-list {
    margin-top: 20px;
}

.article-list li {
    height: 100px;
}

.aricle-icon{
    height: 50px;
    background-color: white;
    border-radius: 10%;
    padding: 1px
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    padding: 10px;
}

.icon-social {
    float: right;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 5px;
    /* border: solid 1px white; */
}